# Ignore this folders in /assets because of privacy concerns
/assets/elise/
/assets/pia/
/assets/praxis/

# ignore old files
/depricated/

# Ignore virtual environment
/.venv/

# don't export html content everytime
/html/

# ignore pycache
/python/__pycache__