# Ignore this folders in /assets
/assets/books/
/assets/elise/
/assets/nature/
/assets/pia/
/assets/praxis/
/assets/text/

# Ignore everything in depricated
/depricated/

# Ignore rendered files
/html/

# Ignore venv
/.venv/

