{% extends "base.html.j2" %}
{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">{{ this_site.title }}</h1>
        <div class="columns is-vcentered">
            <div class="column">
                <figure class="image">
                    <img src="../assets/self.jpg" alt="">
                </figure>
            </div>
            <div class="column is-two-thirds text-is-justified">
                <p>Als Dentalhygienikerin und Mutter weiss ich schon lange, dass es die Dentosophie gibt, damals war es mal eine einzige Zahnärztin in Bern die diese Therapie angeboten hatte. 
                <br><br>
                Als meine Tochter noch klein war, dachte ich oft, das wir irgendwann in die Dentosophie gehen würden da mir die Therapieform sehr zu sagte und ich für alternative Therapieformen schon immer sehr empfänglich war. 
                Ein Anthroposophischer Zahnarzt hatte mal zu der damaligen Zahnsituation meiner Tochter gesagt, dass sie nicht gut genug geerdet sei und dass sie so viel wie möglich barfuss gehen sollte. 
                In dieser Zeit erlebten wir einen gemeinsamen Alpsommer, es war eine sehr bodenständige Zeit und die damals 4-Jährige stampfte fröhlich Barfuss durch den Stall. Die Zähne richteten sich geradewegs nach unten und reiten sich einfach von selbst ein. 
                Somit war ein Besuch bei der Dentosophin nie nötig. 
                Daher kann ich wenig über eine Eigenerfahrung berichten. 
                Es ist einfach schön zu sehen wie die Kräfte wirken und wie sie unterstützt werden können mit ein  wenig Hilfestellung.
                <br><br>
                Seit 20 Jahren bin ich Dentalhygienikerin und arbeite gerne am Patienten und sehe täglich die Individualität der Mundgesundheit. 
                <br><br>
                Seit 2023 begleite ich Menschen in der Dentosophie. 
                Ein grosser Mehrwert dabei sind mir mein Hintergrund als dipl. Dentalhygienikerin HF und meine momentane Ausbildung zur Craniosacraltherapeutin.
                <br><br>
                Vor drei Jahren habe ich mit der Ausbildung zur Craniosacraltherapeutin begonnen und schliesse mit Die Ausbildung im Sommer 2026 ab.</p>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
