<!--
Copyright (c) {{ current_year() }}, {{ website.developer.name }} {{ website.developer.prename }}
  All rights reserved.
  
  This source code is licensed under the BSD-style license found in the
  LICENSE file in the root directory of this source tree. 
-->
<!DOCTYPE html>
<html lang="{{ website.language }}">
  <head>
    {% include "components/header.html.j2" %}
    <!-- dynamic styles -->
    <style>
    .has-background {
      background-image: url('../assets/flower-of-life.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      background-attachment: fixed;
    }
    </style>
  </head>

  <body>
    <!-- navbar -->
    {% include "components/navbar.html.j2" %}

    <!-- Main Content -->
    <main class="section {% if background_img %}has-background{% endif %}">
      {% block content %}No content found!{% endblock %}
    </main>

    <!-- Hero footer: will stick at the bottom -->
    {% include "components/footer.html.j2" %}    
  </body>
</html>