<!--
Copyright (c) {{ current_year() }}, Zbinden Simon Michael
  All rights reserved.
  
  This source code is licensed under the BSD-style license found in the
  LICENSE file in the root directory of this source tree. 
-->
<!DOCTYPE html>
<html>
  <head>
      {% include "components/header.html.j2" %}
  </head>

  <body>
    <section class="hero is-white is-fullheight">
      {% include "components/navbar.html.j2" %}
      {% block content %}{% endblock %}
      {% include "components/footer.html.j2" %}
    </section>
    
  </body>
</html>