{% extends "base.html.j2" %}

{% block content %}
<div class="container">
  <!-- Placeholder -->
  <h1 class="title">
    {{this_site.title}}
  </h1>
  <p>
    Derzeit bin ich noch in der Ausbildung zur Craniosacraltherapeutin KT. Weitere Informationen
    folgen <strong>nach Abschluss der Ausbildung</strong> im Jahr <strong>2026</strong>.
  </p>
</div>
{% endblock content %}