{% extends "base.html.j2" %}

{%- import "components/macros.html.j2" as macros -%}

{% block content %}
      <div class="hero-body is-fullheight has-background">
        <!-- Background image --> 
        {%- if background_img is defined -%}
        {{ macros.background_image(background_img) }}
        {%- endif -%}
        <!-- Content: shares background above -->
        <div></div>
{% endblock content %}