{% extends "base.html.j2" %}

{% block content %}
        <div class="container">
            <!-- Placeholder -->
            <h1 class="title">
              Platzhalter
            </h1>
            <h2 class="subtitle">
                Dentosophie ist supi
            </h2>
            <p>
              Hier könnte Ihre Werbung stehen.
            </p>
        </div>
{% endblock content %}