{% extends "base.html.j2" %}

{% block content %}
<div class="{{ this_site.content_class }}">
  <h1 class="title">{{ this_site.title }}</h1>
  {# „Dento –Sophie“ (griechisch „Weisheit der Zähne“) #}
  <div class="columns is-vcentered">
    <h2 class="subtitle">Was ist Dentosophie?</h2>
    <p class="text-is-justified">
      In der Kieferentwicklung spielen das korrekte Schlucken und die Nasenatmung eine wesentliche Rolle. Nur wenn
      alle Muskeln die in Bezug zum Kiefer, der Zunge und des Schädels harmonisch zusammenarbeiten, kann der Kiefer
      optimal wachsen. Somit können Zahnfehlstellungen vermieden werden, was sich auch positiv auf die Körperhaltung
      und die Entwicklung unseres Skelets auswirkt.<br>
      In der Diagnostik beschränken wir Dentosophen uns nicht nur auf Mundraum und den Kopf. Wir schauen den Körper in
      seiner Gesamtheit (Posturologie) an. So ziehen wir Rückschlüsse, inwiefern die Kieferlage die gesamte Haltung
      (englisch „posture“) beeinflusst.<br>
      Der Kiefer wird im Durchschnitt 10.000 Mal am Tag beansprucht und das bei 80 % der Bevölkerung in einem
      schlechten Gleichgewicht.<br>
      Dieses Ungleichgewicht fördert Störungen des Kiefergelenks und der Kaumuskulatur, was zu asymmetrischen
      Verspannungen in der Kopf- und Nackenmuskulatur führen kann und verursacht auf Dauer Haltungsschäden.
      Das Passieren durch den Geburtskanal oder per Kaiserschnitt auf die Welt zu kommen lässt spuren in der
      Entwicklung der Schädelknochen zurück. Ob ein Kind gestillt wurde oder nicht, kann die Nasen-, Mundatmung
      beeinflussen.<br>
      Die regenerative Wirkung durch die Dentosophie geht über die reine Körperphysiologie hinaus. So kann sich die
      Spannungsregulation im Kiefer-Mundbereich auch ausgleichend auf die psychisch-emotionale Ebene auswirken.
      Die begleitete Selbsttherapie bietet eine optimale Verknüpfung zwischen geistig-seelischem Bereich und
      körperlichem Ausdruck. Sie unterstützt somit gleichzeitig ein Gleichgewicht im Mundbereich, im Menschen als
      Ganzes und seiner Umwelt.<br>
      Ich begleite Erwachsene und Kinder bei ihrer Selbsttherapie, bin unterstützend da und dokumentiere mit Fotos und
      Gipsmodellen die Entwicklung des Mundgleichgewichts.<br>
      Die Dentosophie ist keine zahnmedizinische Behandlung. Defekte an Zähnen müssen zahnmedizinisch von einem
      Zahnarzt abgeklärt und behandelt werden.
    </p>
  </div>
  <div class="columns is-vcentered">
    <h2 class="subtitle">Wann eignet sich die Dentosophie?</h2>
    <div class="column is-two-thirds content">
      <p class="text-is-justified">
        Mit der Dentosophie können sie die folgenden Symptome bei Ihnen oder Ihrem Kind verbessern, lindern oder ihnen
        gar fernbleiben:</p>
      <ul>
        <li>Mundatmung</li>
        <li>Fehlstellungen der Zähne/des Kiefers</li>
        <li>Falsche Zungenruhelage</li>
        <li>knackende oder schmerzende Kiefergelenke</li>
        <li>Schmerzende Kaumuskulatur</li>
        <li>Nackenverspannungen</li>
        <li>Ungleiche Beinlängen</li>
        <li>Rückenschmerzen</li>
        <li>Ohrengeräusche, Tinnitus</li>
        <li>Schluckbeschwerden</li>
        <li>Kopfschmerzen, Migräne</li>
        <li>Müdigkeit, Erschöpfung</li>
        <li>Schnarchen</li>
        <li>Schlafapnoesyndrom</li>
        <li>Schlafprobleme</li>
        <li>Allergien</li>
        <li>Verdauungsprobleme</li>
        <li>Dauerstress</li>
        <li>Bruxismus ( Zähneknirschen, Zähne pressen )</li>
        <li>Daumenlutschen und Nuggientwöhnung ab 1 Jahren</li>
      </ul>
    </div>
    <div class="column">
    </div>
  </div>
  <div class="columns is-vcentered">
    <p class="text-is-justified">Die Dentosophie ist eine Therapieform welche selbstständig zu Hause umgesetzt wird. Wir werden regelmässig eine
      Nachkontrolle vereinbaren, um den Verlauf zu dokumentieren und auf dem richtigen Kurs zu bleiben. Jeder Mensch ist
      einzigartig und ein Therapieverlauf ist nicht ganz vorhersehbar.<br>
      Anders ist dies, z.B bei einem Kieferorthopäden, er / sie kann das Ergebnis schon früh aufzeigen und das
      gewünschte Ergebnis schon weit im Voraus errechnen. Dies könnte womöglich ein passenderer Weg sein. Sich von
      jemanden richten zu lassen, ohne selbst was dafür tun zu müssen, nimmt auch Stress weg. Es ist mir wichtig, dass
      eine kieferorthopädische Therapie nichts Falsches ist, es ist einfach ein ganz anderer Ansatz, um zum gewünschten
      Ziel zu gelangen und für viele die richtige Therapieform ist. Selbstverständlich würde ich eine Zusammenarbeit mit
      einem Kieferorthopäden auch sehr begrüssen, je nach Kiefer, - Zahnfehlstellung ist dies auch in Erwägung zu ziehen
      und eine gemeinsame Behandlung durchaus sinnvoll.<br>
      Wichtig für die begleitete Autotherapie ist das Kommitment, sich auf die Therapie und den abgemachten Aufwand
      einzulassen ist von grosser Wichtigkeit. Als Klient strebt man ein Ziel an und sieht sich mit der angestrebten
      Veränderung in der Zukunft. Dies bewirkt Motivation, um die einzelnen Schritte zu tun, um dorthin zu gelangen.
      Meine Aufgabe ist es dabei, den Klienten zu unterstützen, auch mit der Craniosacral Therapie kann dem ganzen
      System geholfen werden sich am Gesunden zu orientieren.<br>
      Bei der Dentosophie nützen wir die eigenen Kräfte, um das System in eine Balance zu bringen. Mit der Unterstützung
      von Atmen, Schlucken und Kauen, werden gehaltene Kräfte für die Veränderung freigesetzt. Es ist schon fast ein
      kleines Wunder, zu sehen mit wie wenig Aufwand eine positive Veränderung stattfinden kann.
    </p>
  </div>
</div>
{% endblock content %}