{% extends "base.html.j2" %}

{% block title %}Your Page Title - Index{% endblock %}

{% block content %}
    <!-- Hero content: will be in the middle -->
    <div class="hero-body is-fullheight has-background">
      <!-- Background image --> 
      <img 
        alt="Hintergrundbild" class="hero-background is-transparent" src="{{ static_url(dir='../assets', file='flower-of-life.svg') }}" />

      <!-- Content: shares background above -->
      <div class="container">
        <h1 class="title">
          Platzhalter
        </h1>
        <h2 class="subtitle">
          Dieser Text ist supi
        </h2>
        <h4>
          Hier könnte Ihre Werbung stehen.
        </h4>
      </div>
    </div>
{% endblock %}