{% extends "base.html.j2" %}

{% block content %}
<div class="{{ this_site.content_class }}">
  <h1 class="title is-spaced">{{ this_site.title }}</h1>
  <div class="columns is-vcentred">
    <h2 class="subtitle">Balancer</h2>
    <div class="column is-two-thirds">
      <p class="text-is-justified">
        Der <i>Balancer</i> (oder <i>Actismile</i> - je nach Hersteller wird es anders genannt), ist das Trainingsgerät
        in der Dentosophie.<br>
        Mit dem Balancer wird der Lippenschluss geübt und dadurch die Nasenatmung aktiviert, welche den Körper perfekt
        mit Sauerstoff versorgt. Die richtige Zungenruhelage, das physiologische Schlucken und der korrekte Schluckakt
        wird trainiert und sorgt so für ein gutes Kieferwachstum, was zudem wichtig ist für die Entspannung der
        Kaumuskulatur und der ausgeglichenen Unterkieferposition.<br>
        Auch die ausgewogene Muskelarbeit, durch beidseitiges federndes Kauen, sorgt für eine Entspannung der
        Kiefergelenke, der Kiefer-, Gesichts- und Nackenmuskulatur und führt letztendlich zu einer ausgewogenen
        Körperhaltung. Bei Verdauungsproblemen kann eine Fehlfunktion des Kiefers oder der Kaumuskulatur eine Rolle
        spielen. Wird der Balancer bereits im Kindesalter eingesetzt, wird das Kieferwachstum so stimuliert, dass oft
        eine klassische Zahnspange vermieden werden kann.
      </p>
    </div>
    <div class="column">
      Platzhalter
    </div>
  </div>
  <div class="columns is-vcentred">
    <h2 class="subtitle">Literatur Dentosophie</h2>
  </div>
</div>
{% endblock content %}