{% extends "base.html.j2" %}

{%- import "components/macros.html.j2" as macros -%}

{% block content %}
      <div class="hero-body is-fullheight has-background">
        <!-- Background image --> 
        {%- if background_img is defined -%}
        {{ macros.background_image(background_img) }}
        {%- endif -%}
        <!-- Content: shares background above -->
        <div class="container">
            <!-- Placeholder -->
            <h1 class="title">
              Platzhalter
            </h1>
            <h2 class="subtitle">
                Cranio ist supi
            </h2>
            <p>
              Hier könnte Ihre Werbung stehen.
            </p>
        </div>
      </div>
{% endblock content %}