<!-- Hero footer: will stick at the bottom -->
<div class="hero-foot">
    <footer class="footer">
        <div class="tile is-ancestor is-vcentered ml-6">
        <!-- SEO Section -->
        <div class="tile is-4">
            <h4>
            {% for job in personal.jobs -%}
                <strong>{{ job }}</strong>{% if loop.revindex0 == 1 %} und {% elif not loop.last %}, {% endif %}
            {%- endfor %}
            in <strong>{{ personal.city }}</strong> {% if personal.city_nearby is defined %} bei <strong>{{ personal.city_nearby }}</strong> {% endif %} im wunderschönen <strong>{{ personal.canton }} / {{ personal.country }}</strong> 
            durch <strong>{{ personal.first_name }} {{ personal.last_name }}</strong>.
        </h4>
      </div>
      
      <!-- Spacer -->
      <div class="tile is-4"><br></div>
      
      <!-- Links -->
      <div class="tile is-4 is-vertical">
        <a href="{{ static_url(dir=links.dir, file=links.impressum) }}" class="hyperlink">Impressum</a><br>
        <a href="{{ static_url(dir=links.dir, file=links.dsb) }}" class="hyperlink">Datenschutzbestimmungen</a>
      </div>
    </div>
  </footer>
</div>