<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Dentosophia</title>
<link rel="icon" href="assets/heart.ico" />
<!-- css -->
<link rel="stylesheet" href="css/bulma.css">
<!-- navbar burger without js -->
<link rel="stylesheet" href="css/bulma-css-burger.css">
<!-- own style -->
<link rel="stylesheet" href="css/dentosophia.css">