    <style>
        .has-background {
            background-image: url('../assets/flower-of-life.svg');
            background-repeat: no-repeat;
            background-position: center center;
            background-attachment: local;
        }
    </style>